*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(117deg, #07575C 0%, #122536 12.93%, #6B4CE8 26.48%, #1F183A 40.06%, #050417 59.32%, #381654 74.49%, #742BA0 85.81%, #CA69C6 100%);
    display: flex;
    flex-direction: column;
    gap: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    border-radius: 24px;
    background: rgba(179, 219, 255, 0.39);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1000px;
}

.name-upright {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Alegreya SC', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 86px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.name-upside-down {
    color: #FAC6F8;
    text-align: center;
    font-family: 'Alegreya SC', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 4px 4px 0 rgba(51, 170, 221, 0.46);
    transform: rotate(180deg) scaleX(-1);
    height: 86px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.contents {
    display: flex;
}

.box {
    background-image: url("../assets/Group 4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 600px;
    width: 600px;
    position: absolute;
    z-index: -1;
    left: 0;
}

.picture {
    background-image: url("../assets/picture.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 100px;
}

.nav {
    position: absolute;
    left: 125px;
    top: 220px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.header p:first-child {
    color: #122536;
    text-shadow: 0 4px 4px #69B3CA;
    font-family: "Bruno Ace", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.header p:nth-child(2) {
    color: #000;
    font-family: DotGothic16, sans-serif;
    text-shadow: 0 4px 4px #69B3CA;
    font-size: 40px;
    font-weight: 400;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list button {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50);
    font-family: "Contrail One", sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    margin: 20px;
}





