.contents {
    display: flex;
}

.picture {
    background: url("../assets/picture.png") center/contain no-repeat;
    width: 40%;
    top: 100px;
}

.nav {
    background: url("../assets/Group 4.png") center/contain no-repeat;
    height: 650px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 20px 0;
}

.header p:first-child {
    color: #122536;
    text-shadow: 0 4px 4px #69B3CA;
    font-family: "Bruno Ace", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.header p:nth-child(2) {
    color: #000;
    font-family: DotGothic16, sans-serif;
    text-shadow: 0 4px 4px #69B3CA;
    font-size: 40px;
    font-weight: 400;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list button {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50);
    font-family: "Contrail One", sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    margin: 20px;
    cursor: pointer;
}

.nav-list button::before,
.nav-list button::after {
    content: "";
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-list button::before {
    content: "<";
}

.nav-list button::after {
    content: "/>";
}

.nav-list button:hover::before,
.nav-list button:hover::after {
    opacity: 1;
}

#aboutMeDialog,
#mySkillDialog,
#contact {
    display: none;
    position: fixed;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: rgba(18, 37, 54, 0.85);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Contrail One", sans-serif;
    width: 80%;
}

#aboutMeDialog {
    text-align: center;
}

#contact,
#mySkillDialog {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact {
    gap: 20px;
}

.skill-logos {
    margin: 20px;
}

#contact h3,
#mySkillDialog h3,
#aboutMeDialog h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#aboutMeDialog p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
}

#mySkillDialog ul,
#mySkillDialog li {
    font-size: 16px;
    line-height: 2;
}

#mySkillDialog ul {
    margin-bottom: 20px;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.contact-links a {
    color: white;
    font-size: 16px;
}

.contact-links a:hover {
    color: aqua;
}

@media (max-width: 1000px) {
    .contents {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
        'picture'
        'box'
    }

    .picture {
        grid-area: picture;
        display: flex;
        width: 100%;
        margin-top: 40px;
    }

    .nav {
        grid-area: box;
        display: flex;
        width: 100%;
    }
}


@media (max-width: 669px) {
    .header p:first-child,
    .header p:nth-child(2) {
        font-size: 30px;
    }

    .nav-list button {
        font-size: 16px;
        margin: 10px;
    }

    .nav {
        position: relative;
        top: -80px;
    }

    #aboutMeDialog p,
    #mySkillDialog ul,
    #mySkillDialog li,
    #contact a,
    #contact p {
        font-size: 14px;
    }

    .container {
        height: 900px;
    }
}




