@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Contrail+One:wght@200;400;500&family=DotGothic16&family=Inter:wght@200;400;500;700;900&family=JetBrains+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global CSS variables */
:root {
    --neon: #14f7ff; /* Define the neon color variable globally */
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.bg-linear-gradient {
    background: linear-gradient(117deg, #1F183A 0%, #000 100%);
}

html {
    overflow-x: hidden;
    background: linear-gradient(117deg, #1F183A 0%, #000 100%);
}

body {
    background: url("../../assets/images/background.png") 0 / 100% auto repeat-y;
}

.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid white;
    padding: 0.25em 1em;
    border-radius: 3em;
    font-family: 'Inter', sans-serif;
    color: white;
    transition: color 100ms linear, box-shadow 100ms linear;
}

.button:hover {
    text-shadow: 0 0 0.2em, 0 0 0.3em white;
    box-shadow: 0 0 0.5em white;
}

.neon-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 2px solid var(--neon);
    padding: 0.25em 1em;
    border-radius: 3em;
    font-family: 'Inter', sans-serif;
    text-shadow: 0 0 0.2em #fff7, 0 0 0.3em var(--neon);
    box-shadow: inset 0 0 0.5em var(--neon), 0 0 0.5em var(--neon);
    color: var(--neon);
    transition: color 100ms linear, box-shadow 100ms linear;
}

.neon-button:hover {
    color: white;
    box-shadow: 0 0 0.5em var(--neon);
}

.neon-button::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 140%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--neon);
    transform: perspective(0.2em) rotateX(10deg) scale(1.3, 0.4);
    filter: blur(0.5em);
    opacity: 0.6;
    transition: opacity 100ms linear;
}

.neon-button:hover::before {
    opacity: 0.8;
}

.neon-button::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--neon);
    box-shadow: 0 0 2em var(--neon);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon-button:hover::after {
    opacity: 1;
}

.text-shadow-pink {
    text-shadow: 2px 2px 6px rgba(198, 47, 148, 1);
}

.text-shadow-neon {
    text-shadow: 2px 2px 6px var(--neon);
}

.link::before,
.link::after {
    content: "<"; /* Add the initial content */
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    opacity: 0; /* Initially hidden */
    transform: scale(0.8); /* Initial scale for smooth effect */
    transition: all 200ms ease; /* Smooth transition */
}

.link::after {
    content: "/>"; /* Add closing content */
}

.link:hover::before,
.link:hover::after {
    opacity: 1; /* Fully visible on hover */
    transform: scale(1); /* Scale back to original size */
}

/*Carousel*/

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 500px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.carousel .dragging card {
    cursor: grab;
    user-select: none;
}

.carousel-card {
    scroll-snap-align: start;
}